
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 40px 0;
    display: flex;
    background-color: #0f1018;
    color: white;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.container {
    border: 2px solid #42424a;
    border-radius: 5px;
    padding: 1em;
    background-color: #191921;
    max-width: 300px;
}

p {
    font-size: 0.8em;
}

@media (max-width: 350px) {
    .container {
        min-width: 0;
    }
}