/* Example 1 */

body {
    background-image: url("../../images/brandenburgertor.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* cover the entire container, contain will see the entire image */
    background-attachment: fixed; /* fix background location even when scrolling. scroll will scroll the image */
}